<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Worker Threads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.5/css/foundation.min.css"
      integrity="sha512-IyYpCJ+7aODR+LWiU+buuFnKg69IYu7SCmn+3IBNxvEcfsDC7z1xyWhAZTAFTGTlLMnDwcQBFWhhe7JiSw6TEg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      .container {
        margin: 2em auto 2em;
        max-width: 1024px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%- body -%>
    </div>
  </body>
</html>