<form action="/signup" method="post">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Username
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Password
          <input type="password" placeholder=".medium-6.cell">
        </label>
      </div>
    </div>
  </div>
</form>